.menu {
  font-size: 1.2em;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: black;
}

.activelink {
  font-weight: bold;
  color: #07c5fa;
}
